*{
    border:solid;
    border-color:blue;
}

h1{
    color:red;
    font-family: monospace;
    text-align: center;
}

h3{
    color: chartreuse;
    font-family:sans-serif;
    background: rgb(6, 38, 134);
}

a:link{
    color: rgb(255, 0, 0);
}

a:visited{
    color: chocolate;
}